*{
    font-family: sans-serif;
}
.product{
    background-color: #E4E0E0;
    width: 80%;
    height: 20%;
    margin: auto;
}

img{
    margin-top: 1vh;
    margin-left: 1%;
    width: 80%;
    height: 80%;
}

.column {
    float: left;
    padding: 10px;
  }
  
  .left, .right {
    width: 25%;
  }
  
  .middle {
    width: 40%;
  }
.product:after{
    content: "";
    display: table;
    clear: both;
}
.middle input{
    background-color: white;
    text-align: center;
}

.product .right input{
    display: block;
    height: 30px;
    width: 200px;
    background-color: black;
    color: white;
    clear: both;
    float: right;
    margin-top: 10%;
}

h3{
    font-weight: bolder;
    float: right;
    margin-right: 20% ;
}

.order{
    clear: both;
    text-align: center;
}

.order input{
    background-color: black;
    color: white;
    width: 250px;
    height: 50px;

}
