body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.header {
    background-color: #979797;
    width:100%;
}

.header img {
    max-width: 100px;
    height: auto;
    display: block;
    /* margin: 0 auto; */
    padding: 5px 5px;
}


.header_info a {
    float: left;
    background: #979797;
    text-decoration: none;
    color: white;
    padding-right: 50px;
    transform: translate(-60px,-85px);
}

.header_info img {
    max-width: 30px;
    transform: translateX(7px);
}

.header_info {
    float: right;
}

.header_info a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}




.information_left{
    margin-top: 50px;
}



.information_left ul {
    padding-bottom: 10px;
    margin-left: 150px;

}

.information_left ul a {
    text-decoration: none;
    color: #000000;
}

.information_left_4:nth-child(5) {
    background-color: #F8B2B2;
    border: 10px solid #F8B2B2;
    border-radius: 20px;
    padding: 5px;
    font-weight: bold;
    max-width: 250px;
}

.information_right {
    margin-left: 370px;
    margin-top: -315px;
}

.information_right h2 {
    text-align: center;
    font-size: 30px;

}

.information_right_1 img{
    max-width: 150px;
    margin-left: 260px;
}

.information_right_1 h3{
    margin-left: 500px;
    transform: translateY(-105px);
    font-size: 20px;
}


.information_left_2 h3{
    margin-top: 10px; 
    font-size: 20px;
}

.footer {
    background-color: #979797;
    width: 100%;
    margin-top: 100px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    transform: translateX(-380px);
    margin-bottom: 20px;
}

.center tr td {
    width: 42%;
    padding: 4px;
    color: white;
}

.footer img {
    max-width: 30px;
    margin: 20px 20px 10px 10px;
}

.commerce  {
    text-align: center;
    color: #606060;
    background: white;
    padding: 10px;
}


.center .tableHeader td {
    font-weight: bolder;
    color: black;

}
