body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: #979797;
    position: sticky;
    top: 0;
    
}

.header img {
    max-width: 100px;
    height: auto;
    display: block;
    /* margin: 0 auto; */
    padding: 5px 5px;
}


.title {
    max-width: 600px;
    margin: 0 auto;
    /* background-color: white; */
    padding: 20px;
    border-radius: 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    margin-top: -22px;
    /* display: block; */
    height: 0;
}

.title h1{
    color: #FF0000;
    text-align: center;
    font-size: 40px;
}
.form {
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.form .from1{
    width: 10px;
}
button {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: #FF9900;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transform: translateX(-450px);
}

@media screen and (max-width: 768px) {
    .title {
        padding: 15px;
    }
    button {
        margin-left: 0;
    }
}

button {
    background-color: #FF9900;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    max-width: 20%;
    margin-left: 700px;
    margin-top: 30px;
}


form h3{
    font-size: 17px;
}

.input{
    text-align: center;
}

/* popup */
.dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity linear 0.2s;
}

.overlay-close {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
}

.dialog:target {
    visibility: visible;
    opacity: 1;
}


.overlay {
    background-color: rgba(0, 0, 0, 0.3);
}

.dialog-body {
    max-width: 400px;
    position: relative;
    padding: 16px;
    background-color: #fff;
    margin-top: -500px;
}

.dialog-close-btn {
    position: absolute;
    top: 2px;
    right: 6px;
    text-decoration: none;
    color: #333;

}

.dialog-body h3,p {
    color: black;
    text-align: center;
}

.dialog-body h3{
    font-size: 20px;
    width: 300px;
}

.dialog-body p{
    font-size: 15px;
}

.dialog-body img{
    max-width: 80px;
}

