body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.header {
    background-color: #979797;
    width: 100%;
}

.header img {
    max-width: 100px;
    height: auto;
    display: block;
    /* margin: 0 auto; */
    padding: 5px 5px;
}


.header_info a {
    float: left;
    background: #979797;
    text-decoration: none;
    color: white;
    padding-right: 50px;
    transform: translate(-60px, -90px);
}

.header_info img {
    max-width: 20px;
    transform: translateX(7px);
}

.header_info {
    float: right;
}

.header_info a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}





.product {
    background-color: #E4E0E0;
    width: 80%;
    height: 20%;
    margin: auto;
}

.column {
    float: left;
    padding: 10px;
}

.left,
.right {
    width: 25%;
}

.middle {
    width: 40%;
}

.product:after {
    content: "";
    display: table;
    clear: both;
}

.product .right input {
    display: block;
    height: 30px;
    width: 200px;
    background-color: black;
    color: white;
    clear: both;
    float: right;
    margin-top: 10%;
}

h3 {
    font-weight: bolder;
    float: right;
    margin-right: 20%;
    transform: translateY(20px);
    font-size: 25px;
}

.footer {
    background-color: #979797;
    width: 100%;
    margin-top: 300px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    transform: translateX(-380px);
    margin-bottom: 20px;
}

.center tr td {
    width: 42%;
    padding: 4px;
    color: white;
}

.footer img {
    max-width: 30px;
    margin: 20px 20px 10px 10px;
}

.commerce {
    text-align: center;
    color: #606060;
    background: white;
    padding: 10px;
}


.center .tableHeader td {
    font-weight: bolder;
    color: black;

}