body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.header {
    background-color: #979797;
    width: 100%;
}

.header img {
    max-width: 100px;
    height: auto;
    display: block;
    /* margin: 0 auto; */
    padding: 5px 5px;
}


.header_info a {
    float: left;
    background: #979797;
    text-decoration: none;
    color: white;
    padding-right: 50px;
    transform: translate(-60px, -85px);
}

.header_info img {
    max-width: 30px;
    transform: translateX(7px);
}

.header_info {
    float: right;
}

.header_info a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}


/* CSS for Update_info form */
.Update_info {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}

.Update_info h1 {
    text-align: center;
    color: #FF0000;
}

.Update_info form {
    margin-top: 20px;
}

.Update_info p {
    font-weight: bold;
}

.Update_info b {
    display: inline-block;
    width: 150px;
}

.Update_info input[type="text"],
.Update_info input[type="number"],
.Update_info input[type="date"],
.Update_info input[type="url"] {
    width: 70%;
    padding: 8px 10px;
    margin: 5;
}

.Update_info input:nth-of-type(1),
input:nth-of-type(4),
input:nth-of-type(5),
input:nth-of-type(6),
input:nth-of-type(8) {
    margin-left: 4px;
}

.Button {
    margin-top: 20px;
    margin-left: 300px;
    background-color: #FF9900;
}