<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>Controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationController</servlet-name>
        <servlet-class>Controller.RegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>Controller.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBlogController</servlet-name>
        <servlet-class>Controller.AddBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBlogController</servlet-name>
        <servlet-class>Controller.SearchBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>Controller.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBlogController</servlet-name>
        <servlet-class>Controller.DeleteBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>Controller.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePasswordController</servlet-name>
        <servlet-class>Controller.UpdatePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordController</servlet-name>
        <servlet-class>Controller.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordController</servlet-name>
        <servlet-class>Controller.ResetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailController</servlet-name>
        <servlet-class>Controller.OrderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>Controller.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProSearchBlogController</servlet-name>
        <servlet-class>Controller.ProSearchBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProAddBlogController</servlet-name>
        <servlet-class>Controller.ProAddBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeDesController</servlet-name>
        <servlet-class>Controller.HomeDesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddShoeController</servlet-name>
        <servlet-class>Controller.AddShoeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationController</servlet-name>
        <url-pattern>/RegistrationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/UpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBlogController</servlet-name>
        <url-pattern>/AddBlogController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBlogController</servlet-name>
        <url-pattern>/SearchBlogController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBlogController</servlet-name>
        <url-pattern>/DeleteBlogController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/DeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePasswordController</servlet-name>
        <url-pattern>/UpdatePasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordController</servlet-name>
        <url-pattern>/ForgotPasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordController</servlet-name>
        <url-pattern>/ResetPasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailController</servlet-name>
        <url-pattern>/OrderDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/CategoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProSearchBlogController</servlet-name>
        <url-pattern>/ProSearchBlogController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProAddBlogController</servlet-name>
        <url-pattern>/ProAddBlogController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeDesController</servlet-name>
        <url-pattern>/HomeDesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddShoeController</servlet-name>
        <url-pattern>/AddShoeController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>homepage_guest.jsp</welcome-file>
    </welcome-file-list>
</web-app>
