
.manage{
    font-family: sans-serif;
}
.managefunction{
    background-color: #D9D9D9;
    border-radius: 50px;
    height: 100vh;

}

a{
    margin-left: 50px;
    margin-top: 20px;
    display: block;
    line-height: 25px;
    font-size: larger;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
  }

.searchlist{
    background-color: #D9D9D9;
    border-radius: 50px;
    height: 100vh;
}

table{
    margin: 5% auto;
    border-collapse: collapse;
}

table tr{
    border: 1px solid #979797;
}

table tr td{
    padding:0 30px;
}

.searchlist div{
    margin-top: 5%;
    margin-left: 5%;
}

.button{
    background-color: aqua;
}

.tablehead{
    font-weight: bold;
}



