body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #979797;
}

.header img {
    max-width: 100px;
    height: auto;
    display: block;
    /* margin: 0 auto; */
    padding: 5px 5px;
}

button {
    float: right;
    margin-top: -75px;
    padding: 10px 20px;
    margin-right: 80px;
    border: 0.5px;
    font-size: 15px;
    background: #FF0000;
    color: #FFF;
}

.manage {
    width: 100%;
    margin-top: 20px;
}

.managefunction {
    background-color: #D9D9D9;
    border-radius: 50px;
    height: 100vh;

}


a {
    margin-left: 50px;
    margin-top: 20px;
    display: block;
    line-height: 25px;
    font-size: larger;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

.searchlist {
    background-color: #D9D9D9;
    border-radius: 50px;
    height: 100vh;
}

form {
    margin-top: -25px;

}

form input {
    text-align: center;
}

table {
    margin: 5% auto;
    border-collapse: collapse;
}

table tr {
    border: 1px solid #979797;
}

table tr td {
    padding: 0 30px;
}

.searchlist div {
    margin-top: 5%;
    margin-left: 5%;
}

.button {
    background-color: aqua;
}

.tablehead {
    font-weight: bold;
}