body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #979797;
}

.header img {
    max-width: 100px;
    height: auto;
    display: block;
    /* margin: 0 auto; */
    padding: 5px 5px;
}

.information_left {
    margin: 50px 50px 0px 100px;

}

.information_left ul {
    padding-bottom: 20px;

}

.information_left ul a {
    text-decoration: none;
    color: #000000;
}

.information_left_2:nth-child(2) {
    background-color: #F8B2B2;
    border: 10px solid #F8B2B2;
    border-radius: 20px;
    padding: 5px;
    font-weight: bold;
    max-width: 200px;
}

.information_right {
    background-color: #fff;
    width: 55%;
    border-radius: 20px;
    border:  0.3px solid #000000;
    padding: 2px 30px;
    transform: translate(300px, -340px) ;
    display: block;
    align-items: center;
    justify-content: center;
    

}

button{
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #EBAA5D;
    border-radius: 50px;
    border: 0.5px solid #000000;
    cursor: pointer;
    padding: 5px 20px;
    text-align: center;
}

form {
    text-align: center;
}

h4{
    text-align: left;
}

input {
    width: 100%;
    padding: 10px;
    margin: -10px 0 10px;
    box-sizing: border-box;
    text-align: left;
}

