body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #979797;
}

.header img {
    max-width: 100px;
    height: auto;
    display: block;
    /* margin: 0 auto; */
    padding: 5px 5px;
}

.information_left {
    margin: 50px 50px 0px 100px;
}

.information_left a {
    text-decoration: none;
}

.information_left_4:nth-child(5) {
    background-color: #F8B2B2;
    border: 10px solid #F8B2B2;
    border-radius: 20px;
    padding: 5px;
    font-weight: bold;
    max-width: 200px;
}

.information_left {
    margin: 50px 50px 0px 100px;

}

.information_left ul {
    padding-bottom: 20px;

}

.information_left ul a {
    text-decoration: none;
    color: #000000;
}

.information_left_4:nth-child(4) {
    background-color: #F8B2B2;
    border: 10px solid #F8B2B2;
    border-radius: 20px;
    padding: 5px;
    font-weight: bold;
    max-width: 200px;
}

.information_right {
    margin-left: 370px;
    margin-top: -270px;
}

.information_right h2 {
    text-align: center;
}

.information_right_1 img{
    max-width: 150px;
    margin-left: 260px;
}

.information_right_1 h3{
    margin-left: 500px;
    transform: translateY(-105px);
}


