body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #979797;
}

.header img {
    max-width: 100px;
    height: auto;
    display: block;
    /* margin: 0 auto; */
    padding: 5px 5px;
}

.information_left {
    margin: 50px 50px 0px 100px;
}

.information_left a {
    text-decoration: none;
}

.information_left_3:nth-child(3) {
    background-color: #F8B2B2;
    border: 10px solid #F8B2B2;
    border-radius: 20px;
    padding: 5px;
    font-weight: bold;
    max-width: 200px;
}

.information_right {
    margin-left: 370px;
    margin-top: -200px;
}

.information_right_1 {
    border: 1px solid black;
    width: 32%;
    height: 130px;
}

.information_right_1 img {
    max-width: 70px;
    margin: 30px 20px;
}

.information_right_1 p {
    margin-left: 130px;
    transform: translateY(-130px);
}

.information_right_2 {
    border: 1px solid black;
    width: 32%;
    height: 130px;
    margin-top: 10px;
}

.information_right_2 img {
    max-width: 70px;
    margin: 30px 20px;
}

.information_right_2 p {
    margin-left: 130px;
    transform: translateY(-130px);
}

.information_right_3 {
    border: 1px solid black;
    width: 32%;
    height: 130px;
    margin: -274px 0px 0px 600px;
}

.information_right_3 img {
    max-width: 70px;
    margin: 30px 20px;
}

.information_right_3 p {
    margin-left: 130px;
    transform: translateY(-130px);
}

.information_right_4 {
    border: 1px solid black;
    width: 32%;
    height: 130px;
    margin: 10px 600px;

}

.information_right_4 img {
    max-width: 70px;
    margin: 30px 20px;
}

.information_right_4 p {
    margin-left: 130px;
    transform: translateY(-130px);
}